<h3>Admin Dashboard</h3>

<div id="merchants">
  <%= link_to 'Merchants', '/admin/merchants', method: :get %>
</div>

<div id="invoices">
  <%= link_to 'Invoices', '/admin/invoices', method: :get %>
</div>

<div id="enabled-merchants">
<h3>Enabled Merchants</h3>
<%= render partial: "merchant_list", locals: { merchants: @enabled_merchants } %>
</div>

<div id="disabled-merchants">
<h3>Disabled Merchants</h3>
  <%= render partial: "merchant_list", locals: { merchants: @disabled_merchants } %>
</div>